header {
  height:250px;
  width: 800px;
}

nav ul{
  font-size: 18px;
  padding-top: 16px;
  text-align:center;
  list-style-type: none;
  margin-bottom: 60px;
  margin-right: 10px;
}

ol{
  font-size: 14px;
  text-align:center;
  list-style-type: none;
  margin-bottom: 60px;
  margin-right: 10px;
}

li{
    padding-top: 10px;
}

h2{
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  color: white;
}

h1{
  text-align: right;
  margin-right: 10px;
  color: white;
  padding-top: 10px;
}

.col-1 {
  width: 40%;
  float: left;
  width: 390px;
  height: 300px;
  padding-bottom:60px;
}

.col-2 {
  width: 30%;
  float: left;
  width: 390px;
  height: 300px;
  padding-bottom:60px;
}

body {
  background-color: #222;
  width:100%;
  height: 100%;
  padding-bottom:60px;
  margin:30px auto;
  max-width: 800px;
}

#mySketch {
  width:100%;
  background-color: black;
  border: .5px solid black;
  margin: auto;
  font-family: sans-serif;
  text-align: center;
}

a {
  color: #996633;
  background-color: inherit;
}

a:visited {
  color: brown;
  background-color: inherit;
}

a:active {
  color: #661933;
  background-color: inherit;
}

footer a {
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    text-align: center;
    text-decoration: none;
  }

footer {
  color: black;
  background-color: #310000;
  clear: both;
  text-align: center;
  height: 30px;
  position: fixed;
  bottom: 0%;
  width: 800px;
  padding-top: 20px;
  margin: 0;
  }
