* {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  margin-left: 10%;
  margin-right: 10%;
}

.back {
  position: absolute;
  top: 5px;
  right: 5px;
  color: inherit;
  background: white;
}

a {
  font-size: 1.5vw;
  padding: 6px 10px;
  background: black;
  color: #FFF;
  text-decoration: none;
  border-radius: 8px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

h1, h2 {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  font-size: 3.5vw;
  color: #ffefb2;
}

h2 {
  margin-top: 10%;
  font-size: 2vw;
}

button {
  font-size: 3vw;
  width: 100%;
  height: 100px;
  text-align: center;
  border: solid 6px rgba(255, 255, 255, .8);
  border-radius: 16px;
  color: #fff;
  background: #447891 linear-gradient(rgba(255, 255, 255, .3), transparent);
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}

.start:hover {
  background-position: 0 0;
}

.start:focus {
  outline: none;
}

.started {
  display: none;
}

.input {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 20px 30px;
  border: solid 6px black;
  border-radius: 16px;
  color: #6b4c36;
  background-color: rgba(255, 255, 255, .3);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .2), 0 0 6px rgba(0, 0, 0, .2);
}

.input:focus {
  outline: none;
}

.input:disabled {
  opacity: .3;
  transition: opacity .5s;
}

.status {
  padding: 10px 0;
  margin-bottom: 10px;
}

.status::after {
  content: '';
  display: block;
  clear: both;
}

.status-timer {
  float: left;
  font-size: 1.5vw;
}

.status-current-score {
  float: right;
  font-size: 1.5vw;
}

.status-final-results {
  display: none;
  float: left;
  font-size: 1.5vw;
}

.status-toggle-answers {
  display: none;
  float: right;
  font-size: 2vw;
}

.time-remaining {
  color: red;
  font-size: 1.5vw;
  padding: 6px 10px;
  background: black;
  border-radius: 8px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.answers {
  margin: 0;
  padding: 5px;
}

.answers::after {
  content: '';
  display: block;
  clear: both;
}

.answers li {
  color: white;
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  padding: 5px;
  font-size: 1.5vw;
  background-color: #00853e;
  animation: answer .5s ease-out forwards;
}

@keyframes answer {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.answers li:last-child {
  margin-right: 0;
}

.scored-answers {
  color: #6b4c36;
  font-size: 2vw;
}

.missed-answers {
  display: none;
  color: #fff;
  font-size: 2vw;
}

.footnote {
  display: none;
  text-align: right;
  font-size: 2vw;
}

footer a:visited {
  color: brown;
  background-color: inherit;
}

footer a:active {
  color: #661933;
  background-color: inherit;
}

footer a {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
  color: brown;
  background-color: inherit;
}

footer {
  width: 100%;
  background-color: white;
  color: black;
  opacity: .8;
  clear: both;
  text-align: center;
  position: fixed;
  bottom: 0%;
  margin: 0;
  padding: 5px;
}

@media only screen and (max-width:600px) {
  /* For mobile phones: */
  footer {
    width: 100%;
  }
  h1 {
    font-size: 8vw;
  }
  button {
    font-size: 5vw;
  }
  h2, .answers li, .scored-answers {
    font-size: 3vw;
  }
}
