@charset "UTF-8";

header {
  height:250px;
  width: 800px;
}

nav ul{
  font-size: 18px;
  text-align:center;
  list-style-type: none;
}

ul{
  display:block;
  color: #e7dacc;
  font-size: 12px;
  line-height: 30px;
  width: 255px;
  height:120px;
  text-transform: uppercase;
  padding-left:10px;
  padding-top: 50px;
}

ol{
  font-size: 12px;
  text-align:center;
  list-style-type: none;
  margin-bottom: 60px;
  margin-right: 10px;
}

li a{
  font-size: 14px;
  text-align:center;
  list-style-type: none;
}

h2{
  font-size: 14px;
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 5px;
  color: #c7bfb2;
}

h1{
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  color: #c7bfb2;
}

p{
  font-size: 16px;
  text-align: left;
  padding-top: 15px;
  color: #c7bfb2;
}


body {
  background-color: #222;
  width:800px;
  height: 100%;
  padding-bottom:60px;
  margin:36px auto;

}

a {
  color: #996633;
  background-color: inherit;
}

a:visited {
  color: brown;
  background-color: inherit;
}

a:active {
  color: #661933;
  background-color: inherit;
}

html, body{
  height: 100%;
}

#container {
   min-height:100%;
}

#main{
  overflow: auto;
  padding-bottom: 100px;
}

#footer {
  font-size: 12px;
  color: black;
  background-color: #310000;
  text-align: center;
  clear: both;
  position: relative;
  height: 100px
  margin-top: -100px;
  }
