* {
  box-sizing: border-box;
}

canvas {
  display: block;
  height: 100%;
}

.back {
  position: absolute;
  top: 0;
  right: 0;
}

h4 {
  width: 30%;
  font-size: 24px;
  text-align: center;
  margin-top: 30%;
}

h2 {
  display: none;
}

h3, h6 {
  width: 100%;
  font-size: 24px;
  color: white;
  background-color: inherit;
  padding: 20px;
  position: absolute;
}

h5 {
  color: black;
  background-color: inherit;
  padding: 10px;
  width: 100%;
  font-size: 24px;
  padding: 20px;
  margin-top: 0;
}

strong {
  color: lightgrey;
  font-size: 1.5vw;
}


#customers li {
  color: #661933;
  background-color: inherit;
  border: 1px solid #ddd;
  padding: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  list-style-type: none;
  font-size: 1.5vw;
}

.col-1, .col-2, .col-3, .col-4, .col-5 {
  width: 20%;
  float: left;
}

.buttons, input {
  text-align: center;
  width: 100%;
}

.button {
  padding: 12px 20px;
  background: black;
  color: #FFF;
  text-decoration: none;
  border-radius: 8px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button h4 {
  font-size: 26px;
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.button h4:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover h4 {
  padding-right: 10px;
}

.button:hover h4:after {
  opacity: 1;
  right: 0;
}

footer a:visited {
  color: brown;
  background-color: inherit;
}

footer a:active {
  color: #661933;
  background-color: inherit;
}

footer a {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
  color: brown;
  background-color: inherit;
}

footer {
  width: 100%;
  background-color: white;
  color: black;
  opacity: .8;
  clear: both;
  text-align: center;
  position: fixed;
  bottom: 0%;
  margin: 0;
  padding: 5px;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .ops-section {
  width: 100%;
  height: 100%;
  position: relative;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}

.onepage-pagination li {
  padding: 0;
  text-align: center;
}

.onepage-pagination li a {
  padding: 10px;
  width: 10px;
  height: 10px;
  display: block;
}

#top {
  position: absolute;
  right: -10px;
  bottom: 50%;
  width: 50px;
  list-style-type: none;
}

.onepage-pagination li a:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before {
  width: 10px;
  height: 10px;
  background: white;
  border: 1px solid black;
  margin-top: -4px;
  left: 9px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .ops-section {
  position: relative !important;
  top: auto !important;
}

.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}

.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}

.sidebar {
  position:absolute;
  width:20%;
  height:100%;
  top:0;left:0;
  overflow:hidden;
  border-right:1px solid rgba(0,0,0,0.25);
}
.pad2 {
  padding:20px;
}

.map {
  position:absolute;
  left:20%;
  width:80%;
  top:0;bottom:0;
}

h7 {
  font-size: 1.5vw;
  margin:0;
  font-weight:400;
  line-height: 20px;
  padding: 20px 2px;
  padding-left: 10%;
}

.heading {
  background:#fff;
  border-bottom:1px solid #eee;
  min-height:50px;
  line-height:50px;
  padding:0 10px;
  background-color: #00853e;
  color: #fff;
}

a{
  text-decoration:none;
  color: white;
  background-color: inherit;
}

.listings {
  height:100%;
  overflow:auto;
  padding-bottom:60px;
  padding-left: 10%;
}

.listings .item {
  display:block;
  border-bottom:1px solid #eee;
  padding:10px;
}

.listings .item:last-child { border-bottom:none; }
.listings .item .title {
  display:block;
  color:#00853e;
  font-weight:700;
}

.listings .item .title small { font-weight:400; }
.listings .item.active .title,
.listings .item .title:hover { color:#8cc63f; }
.listings .item.active {
  background-color:#f8f8f8;
}
::-webkit-scrollbar {
  width:3px;
  height:3px;
  border-left:0;
  background:rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track {
  background:none;
}
::-webkit-scrollbar-thumb {
  background:#00853e;
  border-radius:0;
}

.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(marker.png);
  background-color: rgba(0, 0, 0, 0);
}

.clearfix { display:block; }
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}


@media only screen and (max-width:600px) {
  /* For mobile phones: */
  footer, #map, div, footer a, .content, .map {
    width: 100%;
  }
  .buttons {
    width: 110%;
  }

  .topnav.responsive a {
    display: block;
    text-align: center;
  }

  footer {
    position: relative;
  }
  h5, h7,.button h4  {
    font-size: 3vw;
  }

li{
  font-size: 4vw;
}
  a{
    font-size: 2vw;
    margin-left: -5px;
  }

  .sidebar {
    width:20%;
  }

    .map {
      width:70%;

    }

#top {
  display: none;
}

.buttons {
margin-top: 30%;
}
.button{
  width: 60%;
}
}
