* {
  box-sizing: border-box;
}

section {
  margin: 0;
  padding-bottom: 10px;
  margin: 0px auto;
  max-width: 800px;
  color: inherit;
}

h2 {
  display: none;
}

h1 {
font-size: 28px;
  text-align: center;
  margin-top: 10px;
}

section {
  padding-top: 15%;
}

.buttons, input {
  text-align: center;
  float: left;
  width: 50%;
}

.button {
  padding: 10px 22px;
  background: black;
  color: #FFF;
  text-decoration: none;
  border-radius: 8px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button h4 {
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button h4:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

.button:hover h4 {
  padding-right: 10px;
}

.button:hover h4:after {
  opacity: 1;
  right: 0;
}

footer a:visited {
  color: brown;
  background-color: inherit;
}

footer a:active {
  color: #661933;
  background-color: inherit;
}

footer a {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
}

footer {
  color: black;
  background-color: #78b7f6;
  clear: both;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0%;
  margin: 0;
  padding: 5px;
}

canvas{
  width:100%;
}

@media only screen and (max-width:600px) {
  /* For mobile phones: */
  footer, div, footer a, h1, .buttons, .button {
    width: 100%;
  }
canvas{
  margin-top: -30%;
}
